p {
    font-family: Arial;
    color: white;
     }

  h1 {
 color: white;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     }

  .main_header {
    color: black;
    font-family: Arial;
}

  .title {                      
text-transform: uppercase;
}

ul{
color: white;
}

.nav{
  font-size:30px;
  cursor:pointer;
  color: white;
}

       /* Header/Logo Title */
.header {
  padding: 5px;
  text-align: center;
  background-image: url("images\colorsshirts.png");
  
  font-size: 45px;
}

   .logo {
    margin: 0 auto;
    border: none;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /*max-width: 100%;
    max-height: 100%;*/
    height: 200px;
    text-align: center;
    background-image: url("images\colorsshirts.png");
    }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: grey;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: white;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .contact {
    font-size: 30px;
    font-family: Arial;
    color: black;
    opacity: 0.8;
  }

  #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 150px;
    height: 100px;  
    border-color: blue;
  }

* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.container {
  padding: 5px;
  margin-left: 26px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 5px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.xlarge-font {
  font-size: 28px 
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.containercontact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




